<style type="text/css">

    section.celebrate-section h1.h1-responsive {
        font-family:'Great Vibes';
        color: white;
        text-align: center;
        font-size: 300%;
    }

    section.celebrate-section h2.h2-responsive {
        color: white;
        text-align: center;
        font-size: 150%;
    }

        @@media (min-width: 768px) {
            section.celebrate-section h1.h1-responsive {
                font-size: 400%;
            }
            section.celebrate-section h2.h2-responsive {
                font-size: 175%;
            }
        }

        @@media (min-width: 992px) {
            section.celebrate-section h1.h1-responsive {
                font-size: 500%;
            }
            section.celebrate-section h2.h2-responsive {
                font-size: 200%;
            }
        }

        @@media (min-width: 1200px) {
            section.celebrate-section h1.h1-responsive {
                font-size: 650%;
            }
            section.celebrate-section h2.h2-responsive {
                font-size: 225%;
            }
        }

</style>

<div class="mask rgba-black-slight" style="cursor:auto;"></div>
<div class="row flex-center mx-5">
    <div class="col-12">
        <h2 class="h2-responsive white-text text-center mb-5">
            We are going to...
        </h2>
        <h1 id="celebrate" class="h1-responsive white-text text-center" style="font-family:'Great Vibes'!important;">
            Celebrate Our Love
        </h2>
    </div>
</div> <!-- end row -->