<style type="text/css">

    section.countdown-section#clock {
        overflow: hidden;
    }

        section.countdown-section #clock div.box {
            background: rgba(255, 255, 255, 0.9);
            float: left;
            text-align: center;
            margin: 7px;
            height: auto;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px;
            border: 5px solid rgba(0, 0, 0, 0.1);
            width: 100%;
        }

            section.countdown-section #clock div.box div.countdown-timer {
                font-size: 3rem;
                margin-bottom: -10px;
                text-align: center;
            }
            
    section.countdown-section h1.h1-responsive {
        font-family:'Great Vibes';
        color: white;
        text-align: center;
        font-size: 300%;
    }

    section.countdown-section h2.h2-responsive {
        font-family:'Great Vibes';
        color: white;
        text-align: center;
        font-size: 150%;
    }

    @@media (min-width: 768px) {
        section.countdown-section h1.h1-responsive {
            font-size: 400%;
        }
        section.countdown-section h2.h2-responsive {
            font-size: 175%;
        }
    }

    @@media (min-width: 992px) {
        section.countdown-section h1.h1-responsive {
            font-size: 500%;
        }
        section.countdown-section h2.h2-responsive {
            font-size: 200%;
        }
    }

    @@media (min-width: 1200px) {
        section.countdown-section h1.h1-responsive {
            font-size: 650%;
        }
        section.countdown-section h2.h2-responsive {
            font-size: 225%;
        }
        section.countdown-section #clock div.box {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
</style>


<div class="mask rgba-black-strong" style="cursor:auto;"></div>

<div class="row flex-center mx-xl-5 mx-2 d-flex justify-content-xl-end">
    <div class="col-xl-6 col-12">
        <h2 class="h2-responsive">
            We are waiting for...
        </h2>
        <h1 class="h1-responsive">
            The Adventure
        </h1>
        <div class="count-down-clock mdb-color-text">
            <div id="clock" class="row justify-content-center">
                <div class="col-xl-3 col-md-2 col-6">
                    <div class="box">
                        <div class="days countdown-timer text-primary"></div>
                        <span class="grey-text">DAYS</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-2 col-6">
                    <div class="box">
                        <div class="hours countdown-timer text-primary"></div>
                        <span class="grey-text">HOURS</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-2 col-6">
                    <div class="box">
                        <div class="minutes countdown-timer text-primary"></div>
                        <span class="grey-text">MINUTES</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-2 col-6">
                    <div class="box">
                        <div class="seconds countdown-timer text-primary"></div>
                        <span class="grey-text">SECONDS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end row -->