<div class="container">
    <div class="row wow fadeIn mb-4">
        <div class="col-12 text-center">
            <h2 class="text-center section-header">Our Love Story</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12">
            <div class="story-timeline">
                <div class="row wow fadeIn">
                    <div class="col-md-6">
                        <div class="story-text right-align-text">
                            <h3 class="h3-responsive text-primary">The Story Begins</h3>
                            <span class="date">Dec 4, 2009</span>
                            <p>
                                Anthony and Victoria grew up in the same boring small town of Hawthorne, NY.
                                Unless beauty salons, pizzerias, and banks are your jam, not much really goes down in H-Town.
                                So, a small boring town filled with marinara sauce and too much hairspray - not really
                                the perfect starting off point for a love story (unless you consider The Nanny the love story of the century).
                                So then, what happened? How did two awkward kids who went to school together since the first grade
                                wade through all of the gabagool and fake nails to find each other? Well the answer is simple: I don't know. But, it happened.
                                <br><br>
                                It wasn't until junior year of high school where these two love birds met through mutual friends
                                and finally mustered up the courage to talk to each other. So what does a group of 16 - 17 year olds do in such a vibrant
                                and lively town such as Hawthorne on a Saturday night? They go to the local shopping center of course. Ah yes, Rose Hill: 
                                the epicenter of romance for any high school kid at Westlake. They even have a pizzeria, a beauty salon, and a bank all in the same
                                shopping center so you don't have to drive 30 seconds to the other nearest one. 
                                <br><br>
                                So after a few hours of being together with mutual friends, Victoria finally looked up from her phone - it actually might have been
                                the first time Anthony saw her face. My god, was she nervous and awkward, but Anthony also found it endearing and adorable. So what
                                does an equally awkward and nervous boy do to break the ice? A mock strip show on a street sign poll. How could she resist such a display, right?
                                Well, I guess it ended up working for god knows what reason, because they started talking more and more. So much so, that Victoria barely
                                looked at her phone when hanging out. 
                                <br><br>
                                This went on a few more months until Anthony decided that he needed to make this girl his. So on December 4th, 2009 - a day after Victoria'said
                                birthday. Anthony (finally) asked out the girl he knew he was going to marry one day.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-holder">
                            <img src="~/img/story/how-we-met.jpg" class="img-fluid z-depth-1-half" alt="">
                        </div>
                    </div>
                </div>
                <div class="row wow fadeIn">
                    <div class="col col-md-6">
                        <div class="img-holder">
                            <img src="~/img/story/the-ring.jpeg" class="img-fluid z-depth-1-half" alt="">
                        </div>
                    </div>
                    <div class="col col-md-6 text-holder">
                        <span class="heart">
                            <i class="fa fa-heart"></i>
                        </span>
                        <div class="story-text">
                            <h3>The Proposal</h3>
                            <span class="date">Jan 12 2017</span>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</div> <!-- end container -->