<style type="text/css">
    @@media (min-width: 350px) {
        section.std-section div.img {
            display: none;
        }
    }

    @@media (min-width: 768px) {
        section.std-section div.img {
            display: block;
        }
        
        section.std-section .idy_about_photo {
            height: 200px;
            width: 200px;
        }
    }

    @@media (min-width: 992px) {
        section.std-section .idy_about_photo {
            height: 290px;
            width: 290px;
        }
    }

</style>

<div class="row m-0">
    <div class="col-xl-4 col-lg-4 col-md-4 col-12 d-flex flex-row-reverse">
        <div class="img wow fadeInLeft">
            <span class="idy_about_photo idy_image_bck" style="background-image: url('../img/anthony-savedate.jpg');"></span>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12 text-center">
        <h2 class="h2-responsive section-header">Save The Date</h2>
        <h3 class="h3-responsive">Anthony and Victoria</h3>
        <h5>Invite you to join them as they celebrate their marriage on</h5>
        <h2 class="h2-responsive text-primary my-4">September 21st, 2019</h2>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12 d-flex flex-row">
        <div class="img wow fadeInRight">
            <span class="idy_about_photo idy_image_bck" style="background-image: url('../img/victoria-savedate.jpg');"></span>
        </div>
    </div>
</div>