<style type="text/css">
    #team_carousel.carousel .carousel-indicators {
        position: relative;
    }

    #team_carousel.carousel .carousel-indicators li {
        height: auto;
        border-radius: 0;
        text-indent: 0;
        background-color: transparent;
        margin: 0;
        bottom: 0;
        display: contents;
    }

        #team_carousel.carousel .carousel-indicators li h3 {
            font-size: 1.4rem;
        }

        #team_carousel.carousel .carousel-indicators li.active {
            background-color: transparent;
        }

            #team_carousel.carousel .carousel-indicators li.active h3 a { 
                color: #fd9791 !important;
            }

    #team_carousel i.fab {
        color: #fd9791 !important;
    }

    #team_carousel p.grey-text {
        font-size: 0.9rem;
    }

    #team_carousel div.avatar > img {
        max-height: 200px;
    }
</style>

<div class="row m-0">
    <div class="col-12 text-center">
        <h2 class="text-center section-header">Meet The Team</h2>
    </div>
</div>

<div id="team_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <ul id="team_nav" class="carousel-indicators justify-content-around mb-4 row">
        <li class="nav-item" data-target="#team_carousel" data-slide-to="0">
            <h3><a class="nav-link">Groomsmen</a></h3>
        </li>
        <li class="nav-item active" data-target="#team_carousel" data-slide-to="1">
            <h3><a class="nav-link">The Couple</a></h3>
        </li>
        <li class="nav-item" data-target="#team_carousel" data-slide-to="2">
            <h3><a class="nav-link">Bridesmaids</a></h3>
        </li>
    </ul>
    
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
            <!-- Grid row -->
            <div class="row m-xl-5 px-3 justify-content-center">
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/angelo-m.jpg" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Angelo Mascia</h5>
                    <p class="grey-text">
                        When one thinks of the word "brainiac", they think of, well... Einstein. However this guy ain't too far behind.
                        I mean, just look at that photo of him - dude's over here looking like Dr. McDreamy from Grey's Anatomy. 
                        Whether it's saving lives or grillin' burgers (in that order), this guy does it all. If he's not wrist-deep
                        in human fluid and excrement, Angelo can be found doing Rocky-like montages at the disc golf course. Well, 
                        maybe there aren't any staircases or fist-pumping involved, but the man is very passionate about the disc golf.
                        Angelo has overcome countless obstacles and has faced many daunting challenges, but now for his greatest challenge: 
                        being a Best Man. Good luck, buddy!
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/angelovmascia" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/Angelovmas" target="_blank" class="p-2 fa-lg tw-ic">
                        <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/angelovmas/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/nick-s.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Nicholas Simone</h5>
                    <p class="grey-text">
                        You know those people who just have a way with finding and winning contests you never heard of and then
                        you become extremely jealous that you didn't find out about them yourself? Nick is one of these people.
                        When he's not winning contests, jamming out to Cardi B (okurrr), or crushing margaritas, Nick can be found bulking up in the <s>weight room</s> two-car garage
                        sipping on protein shakes. But his true passion is his dog, Cinnamon. 🐶
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/nick.simone.961" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/stephen-s.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Stephen Simone</h5>
                    <p class="grey-text">
                        It is a distinguished honor to have Aubrey "Drake" Graham as a groomsman at Victoria and Anthony's wedding. 
                        You may know him for his hit song "Bright Lights", but did you know that Drake also has a (slightly worrying) obsession with meatballs? 
                        Drake has accomplished a lot in his career from his music to football, but now finally he gets to be a groomsman at some random dude's wedding. 
                        Thanks, Drake!
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/stephen.simone1" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/Simone2680" target="_blank" class="p-2 fa-lg tw-ic">
                        <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/simone_2680/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row m-xl-5 px-3 justify-content-center">
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/vito-v.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Vito Virgilio</h5>
                    <p class="grey-text">
                        Has your life dream ever been to ref a football game at Westlake? Well I'd think twice about that, buddy.
                        Just like his father, Vito is quite possibly the nicest person you'll come across. 
                        Respectful, welcoming... so what's the catch? Go to a Westlake football game on a Saturday
                        afternoon in September to find out. Whether it's sports, video games, or movies, you can always count on Vito to provide you with the most
                        up-to-date info.
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/vito.virgilio.1" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/veetz12/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/don-v.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Don Virgilio</h5>
                    <p class="grey-text">
                        Brews, views, and the U S of A, baby. Whether it's hiking mountains, traversing deserts,
                        or hitting up breweries, this patriot sees the awesomeness in everything that makes this country great. 
                        Did I mention he's also an absolute unit when it comes to graphic design? No seriously, 
                        However, Don would agree with me when I say his proudest achievement is being an uncle to his beautiful niece, Ava.
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/don.virgilio.9" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/donnydoolittle/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/philip-m.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Philip Maldonado</h5>
                    <p class="grey-text">
                        Psst. You. Yea you. You lookin' for a good time? Well I have some good news for you. My man Philip is the king of good times. 
                        Have you ever needed a positive influence in your life to cheer you on and just make you feel like you can take that "one last" shot? 
                        Philip is your guy then. This man knows how to bring the best out of people and is genuinely a great dude. 
                        So if you see him, make sure to take a shot with him (also let the groom know when you do this so he can partake.. ahem)
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/philip.maldonado.100" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/philmaldonado/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <div class="carousel-item active">
            <!-- Grid row -->
            <div class="row px-3 justify-content-center">
                <!-- Grid column -->
                <div class="col-xl-3 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/anthony-m.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Anthony Mascia</h5>
                    <p class="grey-text">
                        Anthony is a simple man with simple passions: his fiance, dogs, wine, sushi, and the occassional Hot Pocket®.
                        He is also a strong believer in bringing afternoon siestas to the American workplace,
                        but is too lazy to do anything about it. Anthony makes his living by creating generic websites like the one
                        you're on right now. Yes, I made this website - I finally made it to the big time. Hi, mom!
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/mascia6" class="p-2 fa-lg fb-ic" target="_blank">
                        <i class="fab fa-facebook"></i>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/mascia92" target="_blank" class="p-2 fa-lg tw-ic">
                        <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/amascia66/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-3 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/victoria-s.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                        <div class="mask rgba-pink-slight"></div>
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Victoria Simone</h5>
                    <p class="grey-text">
                        Victoria loves many things such as dogs, small dogs, smaller dogs, slightly bigger dogs, not too big dogs, 
                        and posing for photos in the middle of busy Brooklyn streets. 
                        Victoria also loves her dog, Cinnamon, more than she loves her fiance - she has even told him (many times) that if she could marry her dog over him, she would.
                        But, alas, she settled for me and now I get to write her bio.
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/BIGVICKYMONESNIKKAYEWHURD" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/victorialisasim" target="_blank" class="p-2 fa-lg tw-ic">
                        <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/victoria_lisaa/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
        <div class="carousel-item">
            <!-- Grid row -->
            <div class="row m-xl-5 px-3 justify-content-center">
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/deanna-g.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Deanna Gialanella</h5>
                    <p class="grey-text">
                        Deanna has a ton of talents - using a GPS is not one of them. You may be thinking
                        "How does one get lost while using a GPS? You just do what it says.". That's where you're wrong, kiddo.
                        Deanna is a strong independent woman who don't need no GPS. Hey here's a fun fact: Deanna lives in NYC, but did you know
                        that she can talk with a really convincing and authentic southern accent? So if you see her at the wedding, be sure to
                        ask her to do her best impersonation for you - she'll gladly oblige.
                        Deanna is also a self-proclaimed Dunk-A-Roos™ super fan. You go, Deanna.
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Twitter -->
                        <a href="https://twitter.com/de6giala18" target="_blank" class="p-2 fa-lg tw-ic">
                        <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/de6giala18/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/amanda-b.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Amanda Bruno</h5>
                    <p class="grey-text">
                        Hey, ladies - has this ever happened to you? You're at the bar with your girls just turning up. You know -
                        "girls night woo!". Then all of a sudden you get a whiff of something: cheap cologne, cigarettes, and bad breath. "Oh no",
                        you think to yourself as you turn around and see some creepy dude hunched over gawking at you. "Ayy gurl can I get ya numba ha",
                        the man-beast proclaims. "Why does this always happen to me?!", you think to yourself.
                        Well, worry no more. Just let Amanda know and that guy will be back in his mom's basement crying in a corner and reevaluating his life
                        within 5 minutes.
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/amanda.bruno.180" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/mandarinx0x" target="_blank" class="p-2 fa-lg tw-ic">
                        <i class="fab fa-twitter"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/amandaa_xo_m/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/kim-w.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Kim Williams</h5>
                    <p class="grey-text">
                        When Kim isn't busy with her budding rap career, she can be found putting her musical talents to use by rehabilitating others. 
                        Young and old people alike flock to Kim for her vast musical knowledge and to hopefully catch a verse or two off her new rap album. 
                        Remember: she ain't called "Kimmy Keys" for nothing. You need a solid music rec, but you're not sure if you want classical rock or modern "mumble rap"? 
                        No worries - my girl Kim will hook you up with the best of the best. Kimmy K can either destroy or heal you with music, 
                        just let her know which you'd prefer.
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/kimmy.keys.7" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/kimmykeyss/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row m-xl-5 px-3 justify-content-center">
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/adri-s.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Adriana Salierno</h5>
                    <p class="grey-text">

                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/adriana.salierno.9" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/adri529/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/steph-s.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Stephanie Salierno</h5>
                    <p class="grey-text">
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/stephanie.salierno" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/ses529/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-5 text-center">
                    <div class="avatar mx-auto">
                        <img src="~/img/team/sammi-f.jpg" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Sammi Frieri</h5>
                    <p class="grey-text">
                        
                    </p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sammi.frieri" target="_blank" class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook"> </i>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/sammi.elizabeth/" target="_blank" class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
    </div>
</div>
<!--/.Carousel Wrapper-->