<style type="text/css">
    section.wedding-day-section ul {
        list-style-type: none;    
        padding-left: 0;
        margin: 0;
    }

    section.wedding-day-section span.ic-info {
        width: 25px;
        text-align: center;
    }

        section.wedding-day-section span.ic-info i {
            width: 25px;
            color: #fc685f;
        }

    section.wedding-day-section h3 {
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 0.5em;
        text-transform: uppercase;
    }

    section.wedding-day-section a {
        color: #fc685f;    
        font-weight: 600;
        display: inline-block;
        margin-top: 8px;
    }

        section.wedding-day-section a:hover {
            color: #fc685f;    
        }
        
</style>

<div class="container">
    <div class="row wow fadeIn mb-4">
        <div class="col-12 text-center">
            <h2 class="text-center section-header">Wedding Day</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 p-0">
            <div class="img-holder wow fadeInLeft view">
                <img src="~/img/holy-rosary.jpg" alt="" class="img img-responsive img-fluid">
                <div class="mask rgba-white-slight"></div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 p-0" style="align-items:center;display: flex;background-color: rgba(252, 104, 95, 0.05);">
            <div class="p-xl-5 p-lg-5 p-3">
                <h3>The Ceremony</h3>
                <ul>
                    <li>
                        <span class="ic-info"><i class="fas fa-church"></i></span>
                        <span>Holy Rosary Catholic Church</span>
                    </li>
                    <li>
                        <span class="ic-info"><i class="fas fa-map-marker"></i></span>
                        <span>170 Bradhurst Ave, Hawthorne, NY 10532</span>
                    </li>
                    <li>
                        <span class="ic-info"><i class="fas fa-clock"></i></span>
                        <span>Date/Time</span>
                    </li>
                </ul>
                <a class="see-location-btn popup-gmaps ml-1" href="https://goo.gl/maps/TFT7YveesHw" target="_blank">
                    See location <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 p-0 justify-content-xl-end justify-content-lg-end" style="align-items:center;display:flex;background-color: rgba(252, 104, 95, 0.05);">
            <div class="p-xl-5 p-lg-5 p-3">
                <h3>The Reception</h3>
                    <ul>
                        <li>
                            <span class="ic-info"><i class="fas fa-glass-martini"></i></span>
                            <span>Seasons Catering</span>
                        </li>
                        <li>
                            <span class="ic-info"><i class="fas fa-map-marker"></i></span>
                            <span>644 Pascack Rd, Township of Washington, NJ 07676</span>
                        </li>
                        <li>
                            <span class="ic-info"><i class="fas fa-clock"></i></span>
                            <span>Date/Time</span>
                        </li>
                    </ul>
                    <a class="see-location-btn popup-gmaps ml-1" href="https://goo.gl/maps/4BUXP3PvhsE2" target="_blank">
                        See location <i class="fa fa-angle-right"></i>
                    </a>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 p-0">
            <div class="img-holder wow fadeInRight view">
                <img src="~/img/seasons.jpg" alt="" class="img img-responsive img-fluid">
                <div class="mask rgba-white-slight"></div>
            </div>
        </div>
    </div>