.story-section .story-timeline {
  position: relative;
}
.story-section .story-timeline:after {
  content: "";
  background: rgba(255, 0, 0, 0.1);
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .story-section .story-timeline:after {
    display: none;
  }
}
.story-section .story-timeline > .row {
  position: relative;
}
.story-section .story-timeline > .row .horizontal-line {
  background: rgba(255, 0, 0, 0.1);
  width: 70%;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.story-section .story-timeline > .row + .row {
  margin-top: 50px;
  padding-top: 15px;
}
@media (max-width: 991px) {
  .story-section .story-timeline > .row + .row {
    padding-top: 0;
  }
}
.story-section .story-timeline > .row > .col:first-child {
  padding: 0 45px 0 100px;
}
@media (max-width: 1199px) {
  .story-section .story-timeline > .row > .col:first-child {
    padding: 0 45px 0 70px;
  }
}
@media (max-width: 991px) {
  .story-section .story-timeline > .row > .col:first-child {
    padding: 0 15px;
  }
}
.story-section .story-timeline > .row > .col:last-child {
  padding: 0 100px 0 45px;
}
@media (max-width: 1199px) {
  .story-section .story-timeline > .row > .col:last-child {
    padding: 0 70px 0 45px;
  }
}
@media (max-width: 991px) {
  .story-section .story-timeline > .row > .col:last-child {
    padding: 0 15px;
  }
}
@media (max-width: 991px) {
  .story-section .story-timeline .story-text {
    background: rgba(252, 104, 95, 0.05);
    padding: 35px 25px;
  }
}
@media screen and (min-width: 992px) {
  .story-section .story-timeline .right-align-text {
    text-align: right;
  }
}
.story-section .story-timeline .text-holder {
  border-top: 1px solid rgba(252, 104, 95, 0.1);
  padding-top: 45px !important;
  position: relative;
}
@media (max-width: 991px) {
  .story-section .story-timeline .text-holder {
    border: 0;
    padding-top: 0 !important;
  }
}
.story-section .story-timeline .text-holder .heart {
  background-color: #fec6c3;
  width: 43px;
  height: 43px;
  line-height: 41px;
  text-align: center;
  border: 2px solid rgba(255, 0, 0, 0.5);
  position: absolute;
  left: -22px;
  top: -22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}
@media (max-width: 991px) {
  .story-section .story-timeline .text-holder .heart {
    display: none;
  }
}
.story-section .story-timeline .text-holder .fa {
  color: white;
}
.story-section .story-timeline .right-heart .heart {
  left: auto;
  right: -22px;
}
.story-section .story-timeline h3 {
  font-size: 22px;
  font-size: calc-rem-value(22);
  font-weight: 600;
  color: #fc685f;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .story-section .story-timeline h3 {
    font-size: 20px;
    font-size: calc-rem-value(20);
  }
}
@media (max-width: 767px) {
  .story-section .story-timeline h3 {
    font-size: 18px;
    font-size: calc-rem-value(18);
  }
}
.story-section .story-timeline .date {
  font-size: 14px;
  font-size: calc-rem-value(14);
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}
.story-section .story-timeline img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.story-section .video-holder {
  position: relative;
}
.story-section .video-holder .video-play-btn {
  background: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 60px;
  line-height: 57px;
  text-align: center;
  font-size: 25px;
  font-size: calc-rem-value(25);
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.story-section .video-holder .video-play-btn i {
  color: #fc685f;
}
.story-section .story-timeline .story-slider .owl-controls {
  display: none;
}